body {
  padding-top: 2rem;
}

.code-block {
    border: 1px solid #ddd;
    padding: 39px 14px 14px;
}

.extra-margin-top {
    margin-top: 40px;
}

.avatar {
    margin: 20px;
    text-align: center;
}

.avatar__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.avatar__info {
    margin-top: 10px;
}

#result {
    color: red;
}