{% extends "layout.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h2>Een taal voor regelmakers en programmeurs</h2>
    <p>De wereld verandert continu. Daarmee verandert ook de wetgeving sneller dan ooit. Het is voor overheidsorganisaties een grote uitdaging om de verandering van wetgeving te automatiseren. Act Native heeft een gestructureerde taal ontwikkeld die specifiek genoeg is zodat een computer hem begrijpt en menselijk genoeg is zodat een mens hem begrijpt. Hiermee wordt het automatiseren van wetgeving veel eenvoudiger.</p>
    <p><a class="btn btn-primary btn-lg" href="/meer-info" role="button">Vertel me meer &raquo;</a></p>
  </div>
</div>

<div class="container">
  <form id="example" method="POST">
    <div class="row">
      <div class="col-md-8">
          <h2></h2>
          <div class="code-block">
              <pre>
  Maak een score met de volgende parameters:
  - score is HOOG

  indien aan alle voorwaarden wordt voldaan:
  - <i>de aangifte</i> heeft rubriek <b>bestemming</b> is gelijk aan "<select name="rule_country" id="country">
    <option>FRANKRIJK</option>
    <option>DUITSLAND</option>
    <option>NEDERLAND</option>
  </select>"
  - <i>de aangifte</i> heeft rubriek <b>omschrijving</b> <select name="rule_comparator">
    <option>is gelijk aan</option>
    <option>is niet gelijk aan</option>
    <option>bevat</option>
    <option>bevat niet</option>
  </select> "<input type="text" name="rule_description" value="BOM">".
          </pre>
          </div>
      </div>
      <div class="col-md-4">
          <h3>Een eenvoudig voorbeeld</h3>
          <p>Hier zie je een eenvoudig voorbeeld van onze taal. Je kunt zowel de regels in de taal aanpassen als de gevallen. Probeer het maar eens uit!</p>
              <fieldset>
                  <div class="form-group">
                      <label>Bestemming</label>
                      <select name="instance_country" id="country" class="form-control">
                          <option>FRANKRIJK</option>
                          <option>NEDERLAND</option>
                          <option>DUITSLAND</option>
                      </select>
                  </div>

                  <div class="form-group">
                      <label>Omschrijving</label>
                      <input type="text" id="description" name="instance_description" class="form-control" placeholder="Bijvoorbeeld BOM of BOMMETJE...." value="">
                  </div>

                  <div id="submit">
                    <button type="submit" class="btn btn-secondary" href="#" role="button">Beslis</button>
                  </div>

                  <div id="spinner" style="display:none;"><img id="spinner" src="/img/spinner.gif" border=0></div>
                  <div id="result"></div>
              </fieldset>
          </p>
     </div>
  </div>
  </form>
</div>

<div class="container extra-margin-top">
  <div class="row">
    <div class="col-md-4">
      <h3>Aanpasbaar</h3>
      <p>Omdat de taal door een grote groep gebruikers zijn. </p>
   </div>

    <div class="col-md-4">
      <h3>Controleerbaar</h3>
      <p>De gestructureerde taal is voor zowel programmeurs als regelmakers begrijpbaar en controleerbaar.</p>
   </div>

    <div class="col-md-4">
      <h3>Herleidbaar</h3>
      <p>Het is per beslissing eenvoudig na te gaan welke regels eraan ten grondslag liggen. Wanneer regels veranderen, is het ook mogelijk om te zien wat er veranderd is en welke invloed dit op beslissingen heeft.</p>
   </div>

  </div>
</div>
{% endblock %}