{% extends "layout.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h2>Een taal voor regelmakers en programmeurs</h2>
    <p>De wereld verandert continu. Daarmee verandert ook de wetgeving sneller dan ooit. Het is voor overheidsorganisaties een grote uitdaging om de verandering van wetgeving te automatiseren. Act Native heeft een gestructureerde taal ontwikkeld die specifiek genoeg is zodat een computer hem begrijpt en menselijk genoeg is zodat een mens hem begrijpt. Hiermee wordt het automatiseren van wetgeving veel eenvoudiger.</p>
    <p><a class="btn btn-primary btn-lg" href="/meer-info" role="button">Vertel me meer &raquo;</a></p>
  </div>
</div>

<div class="container">
  <form id="example" method="POST">
    <div class="row">
      <div class="col-md-8">
          <h2></h2>
          <div class="code-block"><pre>{{ rules }}</pre></div>
      </div>
      <div class="col-md-4">
          <h3>Een voorbeeld</h3>
          <p>Hier zie je een voorbeeld van onze taal. Je kunt hieronder uitproberen welke beslissing het systeem neemt voor een bepaalde invoer. Probeer het maar eens uit!</p>
              <fieldset>
                  <div class="form-group">
                      <label for="description">Goederen omschrijving</label>
                      <input type="text" id="description" name="description" class="form-control" placeholder="Fiets, fietsbroek of kippenvlees..." value="">
                  </div>

                  <div class="form-group">
                      <label for="country">Land van herkomst</label>
                      <select name="country" id="country" class="form-control">
                          <option>Taiwan</option>
                          <option>China</option>
                          <option>India</option>
                          <option>Nederland</option>
                      </select>
                  </div>

                  <div id="submit">
                    <button type="submit" class="btn btn-secondary" href="#" role="button">Beslis</button>
                  </div>

                  <div id="spinner" style="display:none;"><img id="spinner" src="/img/spinner.gif" border=0></div>
                  <div id="result"></div>
              </fieldset>
          </p>
     </div>
  </div>
  </form>
</div>

<div class="container extra-margin-top">
  <div class="row">
    <div class="col-md-4">
      <h3>Aanpasbaar</h3>
      <p>Omdat de taal door een grote groep gebruikers zijn. </p>
   </div>

    <div class="col-md-4">
      <h3>Controleerbaar</h3>
      <p>De gestructureerde taal is voor zowel programmeurs als regelmakers begrijpbaar en controleerbaar.</p>
   </div>

    <div class="col-md-4">
      <h3>Herleidbaar</h3>
      <p>Het is per beslissing eenvoudig na te gaan welke regels eraan ten grondslag liggen. Wanneer regels veranderen, is het ook mogelijk om te zien wat er veranderd is en welke invloed dit op beslissingen heeft.</p>
   </div>

  </div>
</div>
{% endblock %}