{% extends "layout.html" %}

{% block body %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Over ons</h1>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="avatar">
                    <img src="/img/frans.jpg" class="avatar__image"><br />
                    <div class="avatar__info">
                        Frans Fokkenrood<br />
                        <i>Belastingdienst</i><br />
                        <b>Oprichter</b>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="avatar">
                    <img src="/img/jolien.jpg" class="avatar__image"><br />
                    <div class="avatar__info">
                        Jolien Franken<br />
                        <i>Belastingdienst</i><br />
                        <b>Projectleider</b>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="avatar">
                    <img src="/img/bart.jpg" class="avatar__image"><br />
                    <div class="avatar__info">
                        Bart Jeukendrup<br />
                        <i>Infinity</i><br />
                        <b>Softwareontwikkelaar</b>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="avatar">
                    <img src="/img/placeholder.png" class="avatar__image"><br />
                    <div class="avatar__info">
                        Frans Wittekoek<br />
                        <i>Douane</i><br />
                        <b>Procesexpert</b>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}